.listing {
    border: 1px solid gray;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, .05);
}

.recent_price {
    width: 100%;
    text-align: right;
}

.recent_price:before {
    content: '$';
}
