{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="col-md-12 mt-5">
		<p> Partex is a user-led electronic parts marketplace! Users can browse listings to see what parts are on sale, and even create their own listing!</p>
		<p> Every listing has an associated "Base Item", which is the official name of the part that's being sold. Each listing also shows the seller and the recent reviews, so you can check if you can trust the item or not. </p>
    </div>
{% endblock content %}
