{% extends "base.html" %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'css/listing.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
    <div class="row mt-5">
        <div class="col-md-5">
            <img width="100%" src="{% static 'img/noim.jpg' %}"></img>
        </div>
        <div class="col-md-7">
            <h1> {{ listing.name }} </h1>
            <h4> {{ listing.seller_name }} </h4>
            <p> {{ listing.description }} </p>
            <p class="price"> {{ listing.price }} </p>
            <p> Date posted: {{ listing.date_created }} </p>
            {% if listing.status %}
                <p class="in-stock"> In stock </p>
            {% else %}
                <p class="not-in-stock"> Out of stock </p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 recommendations">
            <h3>Recommended items</h3>
            {% for r in recommendations %}
                <div class="col-md-3 recommendation">
                    <h4 class="center"><a href="{% url 'listing' r.id %}">{{ r.name }}</a></h4>
                    <h6> Seller: {{ r.seller_name }} </h4>
                    <p> {{ r.description }} </p>
                </div>
            {% empty %}
                <b>No recommendations to display</b>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-6">
                    <h3>Item Reviews</h3>
                </div>
                {% if average_rating %}
                    <div class="col-sm-6" style="padding-top: 8px;text-align:right">
                        <h5>Average Rating: {{ average_rating }} </h5>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-12 review">
            {% for r in reviews %}
                <h4 class="review-title"> {{ r.title }} </h4>
                <h5 class="review-author"> {{ r.author_name }} </h4>
                <p  class="review-rating"> {{ r.rating }} </p>
                <p  class="review-date"> {{ r.date }} </p>
                {{ r.body }}
            {% empty %}
                <b>No reviews to display</b>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
