{% extends "base.html" %}
{% load static %}

{% block css %}
{{ block.super }}
{% endblock css %}

{% block content %}
<div class="row mt-5">
	<div class="col-md-7">
        {% if no_results %}
            No results found. Try a broader search.
        {% endif %}
        {% if search_error %}
            There was an error while performing your search.
        {% endif %}
		<form method="GET">
            <h4>Search listings</h4>
            <input name="q" type="text" placeholder="Query">
            <button type="submit">Search</button>
		</form>
	</div>
</div>
{% endblock content %}
